server:
  dev:
    enabled: true
    devRootToken: "root"

  ha:
    enabled: false

  standalone:
    enabled: true

  resources:
    requests:
      memory: 256Mi
      cpu: 250m
    limits:
      memory: 512Mi
      cpu: 500m

  service:
    enabled: true
    type: ClusterIP
    port: 8200
    targetPort: 8200

  dataStorage:
    enabled: false

  auditStorage:
    enabled: false

  extraEnvironmentVars:
    VAULT_DEV_ROOT_TOKEN_ID: "root"
    VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"

ui:
  enabled: true
  serviceType: "ClusterIP"

injector:
  enabled: false

  csi:
    enabled: false