name: Deploy Production

on:
  push:
    branches: [ main ]

concurrency:
  group: deploy-staging-${{ github.ref }}
  cancel-in-progress: false

env:
  ELAVIEW_ENVIRONMENT: staging
  DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

jobs:
  placeholder:
    runs-on: ubuntu-latest
    steps:
      - run: echo "TODO"