name: Integrate

on:
  push:
    branches: [ main ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  ELAVIEW_ENVIRONMENT: staging
  DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN }}

jobs:
  integrate:
    runs-on: ubuntu-latest
    steps:
      - run: echo "TODO"